@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap"); /* [cite: 226] */

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html {
    height: 100%; 
}

body {
    font-family: "Public Sans", sans-serif; 
    font-size: 1.2rem; 
    min-height: 100%; 
}

.grid-container > * { 
    padding: 10px; 
    text-align: center; 
}

.header {
    grid-area: header; 
    background-color: #85a8dd; 
}

.navbar {
    grid-area: navbar; 
    background-color: #afd6af; 
}

.sidebar {
    grid-area: sidebar; 
    background-color: #f5f5f5; 
}

.main {
    grid-area: main; 
    background-color: #fdcfcf; 
}

.footer {
    grid-area: footer; 
    background-color: #8c96a0;
}

.grid-container {
    display: grid; 
    grid-template: 
        "header" 100px 
        "navbar" 50px 
        "sidebar" 100px 
        "main" auto 
        "footer" 100px; 
}

@media (min-width: 600px) { 
    .grid-container { 
        grid-template: 
            "header header" 100px 
            "navbar navbar" 50px 
            "sidebar main" auto 
            "footer footer" 100px /
            200px auto; 
    }
}

@media (min-width: 900px) { 
    .grid-container { 
        grid-template: 
            "header header header" 100px 
            "navbar main sidebar" auto 
            "footer footer footer" 100px /
            200px auto 200px; 
    }
}